@page "/speedfeedcalc"

<h3>SpeedAndFeedCalcPage</h3>
<p>
    <label for="chipload">Chip Load</label>
    <InputNumber @bind-Value="calculator.ChipLoad" />
</p>
<p>
    <label for="rpm">RPM</label>
    <InputNumber @bind-Value="calculator.RPM" />

</p>
<p>
    <label for="flutes">Flutes</label>
    <InputNumber @bind-Value="calculator.Flutes" />
</p>
<p>
    <button @onclick="OnClick">Submit</button>
</p>
<p>
    @result
</p>

@code {
    private SpeedFeedCalc calculator;
    private string result;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        calculator = new SpeedFeedCalc();
    }

    private void OnClick()
    {
        result = calculator.FeedRate.ToString();
    }

}